<div class="container">
	<div class="rounded-lg bg-light p-4">
		<h4 class="mb-4">Add Person</h4>
		<form method="post" action="/admin/people">
			<div class="row mb-2">
				<div class="col-12 col-md-3">Name</div>
				<div class="col-12 col-md-9">
					<input class="form-control" type="text" name="name">
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-12 col-md-3">Role</div>
				<div class="col-12 col-md-9">
					<input class="form-control" type="text" name="role">
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-12 col-md-3">Weight</div>
				<div class="col-12 col-md-9">
					<input class="form-control" type="text" name="weight">
					<input class="btn btn-primary mt-2" type="submit" value="Add Person">
				</div>
			</div>
		</form>
		<a href="/people">&laquo; Go Back</a>
	</div>
</div>