<div class="col-12 col-sm-6 col-md-4 col-lg-3">
	<h4 class="text-center"><%= person.name %></h4>
	<!-- placeholder image -->
	<img class="mw-100 rounded mb-2" src="http://placekitten.com/g/300/300" alt="kitten" />
	<% if(person.role) { %>
		<p class="text-center"><%= person.role %></p>
	<% } %>
</div>
