<!DOCTYPE html>
<html>
<head>
	<title>My App</title>
	<!-- Include Bootstrap 5 from CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body>
	<div class="p-4 bg-light mb-4">
		<h1>Hudat</h1>
	</div>

	<div class="container">
		<%- include(viewName, data) %>
	</div>

</body>
</html>